@font-face {
    font-family: 'Poppins-Bold';
    src: url('font/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-size: 80%;
    font-style: normal;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Bold';
    text-decoration: none;
}

h1 {
    text-align: center;
}


#title {
    color: #0CB6B4;
    font-family: 'Poppins-Bold';
    font-size: 35px;
    font-weight: bold;
    margin-left: 17%;

}
.content {
    width: 90%; /* Adjust this width as needed to leave space for the sidebar */
    border: 1px solid #dee2e6;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 13%;
    box-sizing: border-box;
    padding: 10px; /* Add padding for spacing inside the border */
    margin-top: 50px;
    background-color: white;
    height: fit-content;
    overflow-y: scroll;
    max-height: 70vh;
}

h2 {
    margin-left: 1%;
    padding: 0px;
    top: 0px;
}


.smaller-table th:nth-child(1), .smaller-table td:nth-child(1) {
  width: 2%; /* Adjust the width for the ID column */
}

.smaller-table th:nth-child(2), .smaller-table td:nth-child(2) {
  width: 20%; /* Adjust the width for the Name column */
}

.smaller-table th:nth-child(3), .smaller-table td:nth-child(3) {
    width: 10%; /* Adjust the width for the date column */
}

.smaller-table th:nth-child(4), .smaller-table td:nth-child(4) {
    width: 20%; /* Adjust the width for the barangay column */
}

.smaller-table th:nth-child(5), .smaller-table td:nth-child(5) {
    width: 5%; /* Adjust the width for the age column */
}
.smaller-table th:nth-child(6), .smaller-table td:nth-child(6) {
    width: 15%; /* Adjust the width for the added by column */
}
.smaller-table th:nth-child(7), .smaller-table td:nth-child(7) {
    width: 2%; /* Adjust the width for the actions column */
}

.box1 h2{
    float: left;
}

.add_button {
    margin-top: 20px;
    float: right;
}
/*.box1 button{
    float: right;
}*/


/* Add spacing between form elements */
.modal-body .form-row {
    margin-bottom: 20px;
}

/* Add spacing between buttons in modal footer */
.modal-footer button {
    margin-right: 10px;
}

.table {
    width: 100%;
    border-collapse: separate;
    
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #D3EEED;
    position: sticky;
    top: 1px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

h5 {
    text-align: center;
    color:#0CB6B4;
    margin-top: 0px;
}

