* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

body {
    background-color: #F6F8FB;
}

.data{
    background-color: #F6F8FB;
}

label {
    line-height: 80px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    background: white;
    width: 250px;
    height: 100%;
 
}

.sidebar center img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;
}

.sidebar a {
    display: block;
    line-height: 60px;
    color: black;
    transition: 0.5s;
    border-radius: 5%;
}

.sidebar a:hover {
    background: #0CB6B4;
    
}

.sidebar span {
    font-size: 20px;
    margin-left: 30px;
    color: black;
    
}

.sidebar i{
    font-size: 20px;
    margin-left: 30px;
    color: black;

}

nav .menu-bar {
    float: right;
    margin-top: 5px;
    display: none;
    margin-right: 20px;
}

#menu{
    display: none;
}


@media (max-width:850px){

    .sidebar a span{
        display: none;
    }

    .sidebar center{

        display: none;
    }

    .sidebar{
        width: 100px;
    }

    .sidebar a i{
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }

    label{
        margin-left: 110px;
    }
}

@media (max-width:650px){

    .sidebar{
        width: 100%;
        text-align: center;
        background-color: #F6F8FB;
        transition: all 0.5s;
        left: 100%;
    }

    .sidebar a i {
        display: none;
    }

    .sidebar a span{
        display: block;
    }

    nav .menu-bar{
        display: block;
    }

}

#menu:checked ~ .sidebar{
    left:0;
}

